* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  display: flex;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  width: 100%;
}

.index-page {
  text-align: center;
  img {
    width: 25rem;
  }
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

a {
  color: black;
}
.error {
  color: red;
  margin-bottom: 1rem;
}

select {
  height: 3rem;
  font-size: $base-font-size;
  margin-bottom: 1rem;
}

label {
  text-align: left;
  padding-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=password] {
  font-size: $base-font-size;
  padding: $input-spacing;
  margin-bottom: $base-font-size;
  border: 1px solid $input-border;
}

textarea {
  font-size: $base-font-size;
  padding: 1rem;
}
