.customer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gray;
  padding: 1rem;
  margin-bottom: 1rem;

  form {
    margin: 0;
    input {
      margin: 0;
    }
  }
}

.customer-commands {
  display: flex;
  justify-content: space-between;
}

.customer-item {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  background: $light-gray;
  border: 1px solid $gray;
  .name-web {
    flex: 2;
    span {
      font-weight: bold;
      display: block;
      font-size: 1.8rem;
    }
    // border: 1px solid green;
  }
  .email-phone-value {
    div {
      padding: 0 0 .5rem 0;
    }
    .value {
      font-weight: 600;
      font-size: 2rem;
      color: #1B689C;
    }
    flex: 1;
    // border: 1px solid green;
  }
}
